@mixin make-button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: rem(15) rem(30);
  text-align: center;
  font-family: inherit;
  font-size: rem($font-size);
  font-weight: 600;
  text-decoration: none;
  text-transform: normal;
  line-height: normal;
  outline: none;
  user-select: none;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 60px;
  box-sizing: border-box;
  transition: $duration;
  cursor: pointer;
}

@mixin make-button-color-default() {
  color: $accent-color-2;
  background-color: $secondary-color;
  background-image: $success-color-gradient;
  box-shadow: $box-shadow-button;

  &:hover,
  &:focus {
    color: $accent-color-2;
    background-color: mix($white-color, $secondary-color, 15%);
  }

  &:active {
    background-color: mix($base-color, $secondary-color, 15%);
  }
}

@mixin mod-button-small() {
  padding: rem(8) rem(28);
  font-size: rem($font-size--small);
}

@mixin mod-button-large() {
  padding: rem(18) rem(40);
  font-size: rem($font-size--large);
}


.button {
  @include make-button();
  @include make-button-color-default();

  &--small {
    @include mod-button-small();
  }

  &--large {
    @include mod-button-large();
  }
}

.button__icon {
  fill: currentColor;

  &:first-child {
    margin-right: 0.5em;
  }

  &:last-child {
    margin-left: 0.5em;
  }
}
