.custom-ul,
ul:not([class]) {
  $dimensions-marker: 12;

  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: rem(20);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.4em;
      width: rem($dimensions-marker);
      height: rem($dimensions-marker);
      border: 4px solid #37ab00;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $accent-color;
    }
  }
}
