.form-item {
  display: block;
  margin-bottom: rem(15);
}

.form-label {
  display: inline-block;
  padding-bottom: 0.4em;
  font-size: 0.95rem;
  vertical-align: middle;
  cursor: pointer;
}

.form-label--required::after {
  content: "*";
  display: inline-block;
  margin-left: 0.2em;
  color: $danger-color;
}

.form-control {
  width: 100%;
  padding: rem(15) rem(20);
  outline: none;
  border: 0px solid transparent;
  font-size: rem($font-size);
  line-height: normal;
  font-family: inherit;
  border-radius: 60px;
  background-color: $white-color;
  box-shadow: 0 2px 2px rgba($gray-color-210, 1);
  box-sizing: border-box;
  transition: $duration;

  &::placeholder {
    color: $base-color;
    opacity: 0.6;
  }
}

textarea.form-control {
  max-height: 200px;
  resize: vertical;
}

.form-control:hover {
  background: #f9f9f9;
}

.form-control:focus {
  border-color: mix(#000, #e3e3e1, 7%);
  background: #fff;
}

.form-submit-wrapper {
  margin-top: 1.5rem;
  text-align: center;
}

.form-submit {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.form-note {
  margin-top: rem(15);
  font-size: rem(15.5);
  p {
    margin-bottom: 0;
  }
}

.form-agree {
  display: flex;
  // align-items: baseline;
  margin-top: 1rem;
  font-size: rem(11);
  line-height: 1.2;
  text-align: left;
  hyphens: auto;

  input {
    flex-shrink: 0;
    margin-right: 0.5rem;
  }

  @media #{$sm-only} {
    justify-content: center;
  }
}
