.gallery {
  background-color: $white-color;
}

.gallery-slider {
  margin-bottom: $slider-buffer-dots;
}

.gallery-slider__item {
  a {
    @include make-fit-object(407, 272);

    display: block;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(1.4);
      background: rgba($accent-color, 0.6) url("images/icon-add.svg") no-repeat center / 64px 64px;
      opacity: 0;
      transition: ($duration * 2);
    }

    &:hover::after{
      opacity: 1;
      transform: scale(1);
    }
  }

  @include media-breakpoint-up(sm) {
    margin-left: ($grid-gutter-width / 5);
    margin-right: ($grid-gutter-width / 5);
  }

  @include media-breakpoint-up(md) {
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);
  }
}
