.intro {
  margin-bottom: rem($grid-gutter-width * -3.5);
  padding-bottom: rem($grid-gutter-width * 5);
  background-color: $white-color;
  background-image: url("images/bg-wave-section-gray.svg"), url("images/bg-wave-section-gray--reverse-x.svg");
  background-repeat: no-repeat;
  background-position: 100% 0, 100% 100%;
  background-size: 100% 431px;
}

.intro__inner {

}

.intro__title {
  text-align: left;

  @media #{$md-width} {
    max-width: 80%;
  }

  @media #{$lg-width} {
    max-width: 60%;
    margin-left: 0;
  }
}

.intro__content {
  margin-bottom: rem($grid-gutter-width * 2.5);

  @media #{$md-width} {
    display: flex;
  }
}

.intro__column {
  margin-bottom: rem($grid-gutter-width);

  @media #{$md-width} {
    width: 50%;
    margin-bottom: 0;
    margin-right: rem($grid-gutter-width);

    &:last-child {
      margin-right: 0;
    }
  }
}

.intro__text {

}

.intro__image {
  text-align: center;

  @media #{$md-width} {
    margin-top: -3rem;
  }
}

.intro__table {
  text-align: center;

  th,
  td {
    text-align: center;
  }

  thead {
    b {
      display: block;
      font-size: 600;
      color: $accent-color;
    }
  }

  tbody {
    font-size: rem($font-size--smaller);

    th {
      font-weight: 600;
    }
  }
}

.intro__table-accent {
  background-color: $accent-color;
}

.intro__note-sign {
  color: $danger-color;
}

.intro__footnote-table {
  margin-top: 0.5rem;
  font-size: rem($font-size--smaller);

  & > :last-child {
    margin-bottom: 0;
  }
}

.intro__divider-subsection {
  margin-top: rem($grid-gutter-width * 1.5);
  margin-bottom: rem($grid-gutter-width * 1.5);
  height: 1px;
  background-color: $gray-color-223;
  border: none;
  border-bottom: 1px solid $white-color;
}
