.photos-users {
  background-color: $white-color;
}

.photos-users__title {
  @media #{$lg-width} {
    max-width: none;
  }
}

.photos-users__list {
  a {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
