.reviews {
  background-color: $white-color;
}

.reviews__slider {
  padding-bottom: $slider-buffer-dots;
  overflow: hidden;

  .slick-track {
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__item {
  a {
    display: block;
    position: relative;
    overflow: hidden;
    border: none;
    border: 12px solid $gray-color-236;
    border-radius: $border-radius;
    transition: $duration;

    &:hover,
    &:focus {
      // border-color: $gray-color-223;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($base-color, 0.6);
      opacity: 0;
      transition: opacity $duration;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 48px;
      height: 48px;
      margin: auto;
      transform: scale(1.4);
      background: url("images/icon-add.svg") no-repeat center / contain;
      opacity: 0;
      transition: ($duration * 2);
    }

    &:hover::before{
      opacity: 1;
    }

    &:hover::after{
      opacity: 1;
      transform: scale(1);
    }
  }

  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }

  @include media-breakpoint-up(sm) {
    margin-left: ($grid-gutter-width / 5);
    margin-right: ($grid-gutter-width / 5);
  }

  @include media-breakpoint-up(md) {
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);
  }
}

.reviews__footer {
  margin-top: rem($grid-gutter-width * 1.5);
  text-align: center;
}
