.stability {
  background-color: $white-color;
}

.stability__group {
  position: relative;
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$lg-width} {
    margin-bottom: 0;
  }
}

.stability__group-image {
  margin-bottom: 1rem;
  text-align: center;

  @media #{$lg-width} {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
    margin-bottom: 0;
  }
}

.stability__group--reverse .stability__group-image {
  @media #{$lg-width} {
    left: 50%;
    right: 0;
  }
}

.stability__image {
  @media #{$lg-width} {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stability__group-container {
  @include make-container();
}

.stability__text {
  font-size: rem($font-size--large);

  & > :last-child {
    margin-bottom: 0;
  }

  @media #{$lg-width} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: rem(320);
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: rem(35);
    box-sizing: border-box;
  }

  @media #{$xxl-width} {
    min-height: rem(400);
  }
}

.stability__group--reverse .stability__text {
  @media #{$lg-width} {
    margin-left: 0;
    margin-right: auto;
  }
}
