table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  word-break: break-all;
  cursor: default;

  @media #{$md-width} {
    margin: -10px;
    border-collapse: separate;
    border-spacing: 10px;
    word-break: normal;
  }
}

caption {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: rem($font-size);
  text-align: left;
}

th,
td {
  padding: 8px;
  text-align: left;
  transition: ($duration / 2);
  border-radius: $border-radius;
  background-color: $gray-color-246;

  @media #{$sm-only} {
    border: 1px solid $gray-color-210;
  }

  @media #{$md-width} {
    padding: 10px;
  }
}
